{% load static %}
{% block content %}

<section class="">
	<div class="py-4"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1 class="custom-title">Presentación</h1>
				<p>El CONEEST 2022 mantiene su carácter de foro de encuentro y debate, contribuye al intercambio de ideas y experiencias relacionadas con la Estadística, el CONEEST 2022 hace extensiva la invitación a este magno evento a toda la comunidad de estadísticos egresados, estudiantes de pregrado, docentes y público en general</p>
			</div>
			<div class="col-md-6">
				<video class="img-fluid" controls autoplay loop>
					<source src="{% static 'media/video2.mp4' %}" type="video/mp4">
				</video>
			</div>
		</div>
	</div>
	<div class="py-4"></div>
	
</section>

<section class="section-curso">
	<div class="p-4"></div>
	<div class="container">
		<h1 class=" custom-title">Cursos y Minicursos</h1>
		<div class="row">
			<div class="col-md-4">
				<img src="{% static 'media/curso.jpg' %}" class="img-fluid img-animation" alt="">
			</div>
			<div class="col-md-8">
				<p>El objetivo es brindar a los participantes conocimientos de actualidad a través de las diferentes ponencias y presentaciones impartidas por profesionales de alto nivel, del mismo modo poner a su alcance el uso de técnicas estadísticas e informáticas en boga que les permitan desarrollar habilidades cuantitativas, potencializando la Estadística en un mundo holístico.</p>
				<a href="{% url 'build' %}" class="btn btn-custom">ver más</a>
			</div>
		</div>
	</div>
	
	<div class="py-4"></div>
	
</section>

<section>
	<div class="container">
		<div class="py-4"></div>
		<h1 class="custom-title">Calendario de Actividades</h1>
		<div class="row">
			<div class="col-md-8">
				<p></p>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate modi amet explicabo saepe, error itaque perferendis doloribus temporibus in sit, id similique maiores fuga laborum eum. Tempora minus perspiciatis est hic iusto voluptas? Tempora, ut.</p>
				<a href="{% url 'build' %}" class=" btn btn-custom">ver más</a>
			</div>
			<div class="col-md-4">
				<img src="{% static 'media/horario.jpg' %}" class="img-fluid img-animation" alt="">

			</div>
		</div>
	</div>
	
	<div class="py-4"></div>

</section>


{% endblock %}
