{% load static %}
{% block content %}

<section>
	<div class="py-4"></div>

	<div class="container">
		<h1 class="custom-title">Presentación</h1>
		<p>La Facultad de Estadistica e Informatica de la Universidad Nacional del Altiplano esta agradecida de poder contar 
			con la organizacion del 23 congreso nacional de estadistica de las universidades del peru.
		</p>
		<p>Les da el agradecimiento ante mano por la participacion de todos los estudiantes y personas en general por apoyar este evento nacional que se realizara
			de forma virtual se pide perdon ante mano por algunas fallas tecnicas que se encontraran en la semana del congreso o algun fallo de esta pagina.
		</p>
		<p></p>
	</div>
	<div class="py-4"></div>
	
</section>

<section class="section-curso">
	<div class="p-4"></div>
	<div class="container">
		<h1 class=" custom-title">Cursos y Minicursos</h1>
		<div class="row">
			<div class="col-md-4">
				<img src="{% static 'media/curso.jpg' %}" class="img-fluid img-animation" alt="">
			</div>
			<div class="col-md-8">
				<p>Se dictaran al rededor de 20 cursos y 10 minicursos de interes estadistico en diferentes horarios</p>
				<a href="{% url 'cursos' %}" class="btn btn-custom">ver mas</a>
			</div>
		</div>
	</div>
	
	<div class="py-4"></div>
	
</section>

<section>
	<div class="container">
		<div class="py-4"></div>
		<h1 class="custom-title">Horarios y Actividades</h1>
		<div class="row">
			<div class="col-md-8">
				<p></p>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate modi amet explicabo saepe, error itaque perferendis doloribus temporibus in sit, id similique maiores fuga laborum eum. Tempora minus perspiciatis est hic iusto voluptas? Tempora, ut.</p>
				<a href="{% url 'cronograma' %}" class=" btn btn-custom">ver mas</a>
			</div>
			<div class="col-md-4">
				<img src="{% static 'media/horario.jpg' %}" class="img-fluid img-animation" alt="">

			</div>
		</div>
	</div>
	
	<div class="py-4"></div>

</section>


{% endblock %}
