{% extends 'coneest/app.html' %}

{% block content %}

<section>
	
<div class="p-4"></div>
<div class="container">
	<p class="h3">Cronograma Principal Cursos</p>
	<div class="p-2"></div>

	<table class="table text-center table-light table-striped">
		<thead>
			<tr>
				<th scope="col">Lunes</th>
				<th scope="col">Martes</th>
				<th scope="col">Miercoles</th>
				<th scope="col">Jueves</th>
				<th scope="col">Viernes</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
							<div class="card-header">7:00 am - 9:00 am</div>
							<div class="card-body">
								<p class="card-text">Big Data</p>
							</div>
						</div>
				</td>
				<td>
					<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
							<div class="card-header">Header</div>
							<div class="card-body">
								<h5 class="card-title">Success card title</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							</div>
						</div>
				</td>
				<td>
					<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
							<div class="card-header">Header</div>
							<div class="card-body">
								<h5 class="card-title">Success card title</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							</div>
						</div>
				</td>
				<td>
					<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
							<div class="card-header">Header</div>
							<div class="card-body">
								<h5 class="card-title">Success card title</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							</div>
						</div>
				</td>
				<td>
					<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
							<div class="card-header">Header</div>
							<div class="card-body">
								<h5 class="card-title">Success card title</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							</div>
						</div>
				</td>
			</tr>

			<tr>
				<td></td>
				<td>Otto</td>
				<td>@mdo</td>
				<td>@mdo</td>
				<td>@mdo</td>
			</tr>
			<tr>
				<td></td>
				<td>Otto</td>
				<td>@mdo</td>
				<td>@mdo</td>
				<td>@mdo</td>
			</tr>
			<tr>
				<td></td>
				<td>Otto</td>
				<td>@mdo</td>
				<td>@mdo</td>
				<td>@mdo</td>
			</tr>
			<tr>
				<td></td>
				<td>Otto</td>
				<td>@mdo</td>
				<td>@mdo</td>
				<td>@mdo</td>
			</tr>
		</tbody>
	</table>


	<div class="p-4"></div>
	<p class="h3">Cronograma Mini Cursos</p>
	<div class="p-2"></div>

	<table class="table text-center table-success table-striped">
		<thead>
			<tr>
				<th scope="col">Lunes</th>
				<th scope="col">Martes</th>
				<th scope="col">Miercoles</th>
				<th scope="col">Jueves</th>
				<th scope="col">Viernes</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
							<div class="card-header">Header</div>
							<div class="card-body">
								<h5 class="card-title">Success card title</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							</div>
						</div>
				</td>
				<td>
					<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
							<div class="card-header">Header</div>
							<div class="card-body">
								<h5 class="card-title">Success card title</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							</div>
						</div>
				</td>
				<td>
					<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
							<div class="card-header">Header</div>
							<div class="card-body">
								<h5 class="card-title">Success card title</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							</div>
						</div>
				</td>
				<td>
					<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
							<div class="card-header">Header</div>
							<div class="card-body">
								<h5 class="card-title">Success card title</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							</div>
						</div>
				</td>
				<td>
					<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
							<div class="card-header">Header</div>
							<div class="card-body">
								<h5 class="card-title">Success card title</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							</div>
						</div>
				</td>
			</tr>

			<tr>
				<td></td>
				<td>Otto</td>
				<td>@mdo</td>
				<td>@mdo</td>
				<td>@mdo</td>
			</tr>
			<tr>
				<td></td>
				<td>Otto</td>
				<td>@mdo</td>
				<td>@mdo</td>
				<td>@mdo</td>
			</tr>
			<tr>
				<td></td>
				<td>Otto</td>
				<td>@mdo</td>
				<td>@mdo</td>
				<td>@mdo</td>
			</tr>
			<tr>
				<td></td>
				<td>Otto</td>
				<td>@mdo</td>
				<td>@mdo</td>
				<td>@mdo</td>
			</tr>
		</tbody>
	</table>
</div>

</div>
<div class="p-4"></div>

</section>



{% endblock %}
