@media screen and (max-width: 450px) {

    .carousel-inner br{
        display: none;
    }
    .carousel-inner .h1{
        font-size: 9px;
    }
    
    .img-car{
        display: block;
        width: auto;
        height: auto;
    }
    
}