{% extends 'coneest/app.html' %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="p-4"></div>
                    <p class="h2 custom-title text-center">
                        Registra tu participacion
                    </p>
                    <div class="p-2"></div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nombres</label>
                        <input type="text"
                               class="form-control"
                               id="exampleFormControlInput1"
                               placeholder="">
                        <label for="exampleFormControlInput1" class="form-label">Apellido Paterno</label>
                        <input type="Text"
                               class="form-control"
                               id="exampleFormControlInput1"
                               placeholder="">
                        <label for="exampleFormControlInput1" class="form-label">Apellido Materno</label>
                        <input type="text"
                               class="form-control"
                               id="exampleFormControlInput1"
                               placeholder="">
                        <label for="exampleFormControlInput1" class="form-label">Documento de Identidad</label>
                        <input type="text"
                               class="form-control"
                               id="exampleFormControlInput1"
                               placeholder="">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email"
                               class="form-control"
                               id="exampleFormControlInput1"
                               placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Secuencia de Pago</label>
                        <input type="text"
                               class="form-control"
                               id="exampleFormControlInput1"
                               placeholder="xxxxxxxxx">
                        <label for="exampleFormControlInput1" class="form-label">Monto de Pago</label>
                        <input type="text"
                               class="form-control"
                               id="exampleFormControlInput1"
                               placeholder="S/. 100.00">
                        <label for="formFile" class="form-label">Seleccione la imagen de su recibo</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                </div>
                <div class="col-md-3"></div>
                <div class="p-4"></div>
            </div>
        </div>
    </section>
{% endblock %}
