{% extends 'coneest/app.html' %}
{% load static %}
{% block content %}

<section class="loading">

<div class="container">
  <h2 class="text-center">En Construccion</h2>
  <br>
  <div class="gears">
    <div class="gear one">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="gear two">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="gear three">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
  </div>
</section>

{% endblock %}