{% extends 'coneest/app.html' %}
{% load static %}
{% block content %}

<section class="loading">

  <div class="container">
    <div class="p-4"></div>
    <div class="p-4"></div>
    <div class="p-4"></div>
    <div class="row">
      
      <div class="col-md-6">
        <video autoplay controls loop class="img-fluid">
          <source src="{% static 'media/video.mp4' %}" media="video/mp4">
        </video>
      </div>
      <div class="col-md-6">
        <h2 class="text-center custom-title">En Construcción</h2>
        <div class="p-4"></div>
        <div class="gears">
          <div class="gear one">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
          <div class="gear two">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
          <div class="gear three">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}